---
import Layout from "../Layouts/Layout.astro";
import Contador from "../components/Contador";
---

<Layout title="Maya Trip Express">
  <h1>Welcome to Maya Trip Express</h1>
  <p>Your gateway to exploring the wonders of the Maya civilization.</p>
  <Contador client:load />
</Layout>
